.bottom{
    background-image: url('../../assets/logos/logo-login.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 300px;
    box-shadow: none;
    width: auto;
}
.top{
  
  //  position: absolute;
  //  top: 0;
    width: 100%;
}
.select-instrument {
   // border-radius: 2px;
 //   height: 45px;
  //  background: #f0f0f0;
    font-size: 11px;
  //  font-weight: 500;
    color: #353535;
  //  --placeholder-color: #777777;
  //  --placeholder-opacity: 1;
   // --padding-start: 46px;
   // --padding-end: 12px;
  }
ion-input{
    --padding-start: 20px;
    border-radius: 25px;
    background: #e5e5e54a;
    font-size: 10px;
    height: 40px;
}
ion-item{
    --highlight-background: transparent;
    --padding-top: 0px;
    --background: #e5e5e54a;
    border-radius: 25px;
    height: 44px;
}
ion-icon{
    color: #f28b1d
}
.btn-transition {
    color:white;
    background: linear-gradient(to left, #f57c00 14%, #ffca00 96%);
    margin-top: 10px;
    --box-shadow:none;
    --background:none;
    border-radius: 25px;
    width: 100%;
   font-size: 14px;
  }
  .btn-final{
    --background: transparent;
    color: white;
    --border-width: 1px;
    border: 2px solid;
    border-radius: 25px;
    --box-shadow: none;
    width: 100%;
  }