.bottom{
    background-image: url('../../assets/img/transportista2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 300px;
    box-shadow: none;
    width: auto;
    margin: 0;
}
.top{
  
  //  position: absolute;
  //  top: 0;
    width: 100%;
}
ion-input{
  --padding-start: 20px;
    border-radius: 25px;
    background: #e5e5e54a;
    font-size: 10px;
}
ion-icon{
    color: #f28b1d
}
.btn-transition {
    color:white;
    background: linear-gradient(to left, #f57c00 14%, #ffca00 96%);
    margin-top: 10px;
    --box-shadow:none;
    --background:none;
    border-radius: 25px;
    width: 100%;
   font-size: 14px;
  }
  .btn-final{
    --background: transparent;
    color: white;
    --border-width: 1px;
    border: 2px solid;
    border-radius: 25px;
    --box-shadow: none;
    width: 100%;
  }