<ion-header class="side-menu">

  <ion-toolbar>

  
    <ion-row style="padding: 40px 0px;">
      <ion-col style="align-self: center;text-align: center;">
        <ion-row style="padding-left: 15px;">
          <img style="width:110px" src="../../assets/logos/logo-login.png"/>
        </ion-row>
        <ion-row style="margin-left: 30px;">
          <ion-label style="font-weight: bold;font-size: 19px;">Configuración</ion-label>
        </ion-row>
      <ion-row style="margin-left: 30px;margin-top: 2px;" routerLink="/menu/profile" >
        <ion-label style="font-size: 14px;">Editar mi perfil</ion-label>
      </ion-row>
    
    </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item  class="list" style="--border-color: transparent;margin-top: 30px;">
    <img src="../../assets/logos/item1.png"/>
    <ion-label>Lorem Ipsum</ion-label>
    </ion-item>

    <ion-item class="list" style="--border-color: transparent">
      <img src="../../assets/logos/item1.png"/>
      <ion-label>Lorem Ipsum</ion-label>
      </ion-item>

      <ion-item class="list" style="--border-color: transparent">
        <img src="../../assets/logos/item1.png"/>
        <ion-label>Lorem Ipsum</ion-label>
        </ion-item>

        <ion-item class="list" style="--border-color: transparent">
          <img src="../../assets/logos/item8.png"/>
          <ion-label>Viajes cancelados<br> acumulados</ion-label>
          </ion-item>

          <ion-item class="list" style="--border-color: transparent">
            <img src="../../assets/logos/item9.png"/>
            <ion-label>Compartir App</ion-label>
            </ion-item>
            <ion-item class="list" style="--border-color: transparent">
              <img src="../../assets/logos/item10.png"/>
              <ion-label>Términos y condiciones</ion-label>
              </ion-item>
              <ion-item routerLink="/pre-login" class="list" style="--border-color: transparent">
                <img src="../../assets/logos/item11.png"/>
                <ion-label>Cerrar Sesión</ion-label>
                </ion-item>

  </ion-list>

</ion-content>