

<ion-content>
  <div class="top">
    <ion-row style="justify-content: center;margin-top:30px">
      <img style="height: 40px;" src="../../assets/logos/logo-login.png"/>
    </ion-row>
    <ion-row style="margin: 20px 60px 0;justify-content: left;">
     
        <ion-label style="color:#ffcb00;font-size: 35px;">
          Registro de<br> transportista
         </ion-label>
    </ion-row>
    <ion-row style="margin: 10px 60px 0;justify-content: left;">
      <ion-label style="color:#ffcb00;font-size: 14px;">
        Tipo: <span style="color:black">Hombre Camión.</span>
       </ion-label>
  </ion-row>
    <ion-row style="margin: 15px 60px 0;">
      <p style="font-size: 14px;line-height: 30px;">
        Recomendaciones de toma de fotografías y cuidado de alta de documentos claros.
      </p>
    </ion-row>
    <ion-row style="margin: 15px 60px 0;">
      <p style="font-size: 14px;line-height: 30px;">
        Estas a pocos pasos de completar tu registro, te recomendamos que tomes en cuenta los siguientes puntos en tu registro: <br>
        •	Lee las instrucciones.<br>
        •	Escribe correctamente tus datos.<br>
        •	Ten a la mano los documentos de identificación personal y de tu unidad móvil.<br>
        •	Realiza la toma de fotografías con claridad y en un lugar iluminado.
        
      </p>
    </ion-row>
  </div>
 
  <ion-card class="bottom">
      <ion-row style="padding: 50px 60px 10px">     
        <ion-button (click)="next()"
          class="btn-transition">
          Continuar</ion-button>
    </ion-row>
   

  </ion-card>
   
  
</ion-content>
