

<ion-content>
  <ion-row style="margin-top: 100px;justify-content: center;">
    <img src="../../assets/logos/logo.png"/>
  </ion-row>
  <ion-row style="justify-content: center;margin: 230px 30px 20px;">
   <ion-label >Conectamos usuarios con transportistas en un solo punto para facilitar tu trabajo con unos cuantos clicks.</ion-label>
  </ion-row>
  <ion-row style="justify-content: center; margin: 0 30px;">
    <ion-label >Mueve tus productos en tu ciudad o bien por carretera a cualquier parte de México, solo regístrate y encuentra viajes o solicítalos aquí.</ion-label>
   </ion-row>
  <ion-row style="justify-content: center;">
    <ion-button class="btn1" routerLink="/auth">
      INICIAR SESIÓN
    </ion-button>
  </ion-row>
<ion-row style="justify-content: center;">
  <ion-button  class="btn2" routerLink="/login">
    CREAR CUENTA
  </ion-button>
  
</ion-row>

<ion-row style="justify-content: center;margin-bottom: 30px;">
  <ion-label>Olvidé mi contraseña</ion-label>
</ion-row>

</ion-content>
