#map {
   
    height: 55vh;
    //margin: 10px 20px 20px 20px;
    
  }
  ion-header{
    border-bottom: 6px solid #ffcb00;
  }
  ion-label{
      color: white !important;}
ion-item{
   height: 45px;
 }
 .r-b{
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
 }