

<ion-content>
  <div class="top">
    <ion-row style="justify-content: center;margin-top:30px">
      <img style="height: 40px;" src="../../assets/logos/logo-login.png"/>
    </ion-row>
    <ion-row style="margin: 20px 60px 0;justify-content: left;">
     
        <ion-label style="color:#ffcb00;font-size: 35px;">
          Registro de<br> transportista
         </ion-label>
    </ion-row>
    <ion-row style="margin: 10px 60px 0;justify-content: left;">
      <ion-label style="color:#ffcb00;font-size: 14px;">
        Tipo: <span style="color:black;line-height: 20px;">Conduzco una camioneta <br> o una Pick-up</span>
       </ion-label>
  </ion-row>
   
   
  </div>
 <div style="position: absolute;
 width: 100%;
 bottom: 0;">
 
      <ion-row style="padding: 50px 60px 10px">     
        <ion-button (click)="next()"
          class="btn-transition">
          Continuar</ion-button>
    </ion-row>
   

  
</div>
  
</ion-content>
